<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/default.css">
</head>

<body>
    <!-- Navigation section -->

    <table id="header">
        <tr>
            <td id="logo"><a href="http://localhost:5000/" id="logoLink">Awesome<span>Shop</span></a></td>
            <td id="navigation"><i class="fa fa-question-circle" aria-hidden="true"></i>  Need Help <button class="button">Join</button></td>
        </tr>
    </table>

    <!-- Feature section -->

    <div id="feature_section">
        <h1>Shop your designer dresses</h1>
        <p>Ready to wear dresses tailored for you from online. Hurry up while stock lasts.</p>
        <input type="text" placeholder="Search your products from here" id="search_bar">
    </div>


    <!-- Promotion section -->

    <div id="promotion_section">
        <div id="promotion1">
            <div class="promote_text">
                <div>Coupon Savings</div>
                <p>Up to 60% off everyday essentials</p>
                <button class="button">Shop Coupons</button>
            </div>
            <div class="promote_image">
                <img src="/assets/images/icons8-coupon-100.png" alt="" >
            </div>
                

        </div>
        <div id="promotion2">
            <div class="promote_text">
                <div>Free Delivery</div>
                <p>With selected items</p>
                <button class="button">Delivery Now</button>
            </div>
            <div class="promote_image">
                <img src="/assets/images/checked-truck.png" alt="" >
            </div>
               

        </div>
        <div id="promotion3">
            <div class="promote_text">
                <div>Gift Voucher</div>
                <p>With personal care items</p>
                <button class="button">Gift Now</button>
            </div>
            <div class="promote_image">
                <img src="/assets/images/gift--v1.png" alt="" >
            </div>
        </div>
    </div>

    <!-- Category section -->

    <div class="category_section">
        <ul class="category_list">
            <li id="electronics"><img src="/assets/images/icon_laptop.png" alt=""><span class="category_list_word">Electronics</span></li>
            <li id="handbags"><img src="/assets/images/icon_bag-front-view.png" alt=""><span class="category_list_word">Handbags</span></li>
            <li id="wallet"><img src="/assets/images/icon_wallet.png" alt=""><span class="category_list_word">Wallet</span></li>
            <li id="clothes"><img src="/assets/images/icon_clothes.png" alt=""><span class="category_list_word">Clothes</span></li>
        </ul>
    </div>

    <section>

        <div id="product_view">

            <div id="product_image_section">
                <div class="product_discount">20%</div>
                <div class="product_picture"><img src="/assets/images/clothes (1).png" alt=""></div>
                <div id="product_image_thumbnail_section">
                    <div class="product_picture"><img  src="/assets/images/clothes (1).png" alt=""></div>
                    <div class="product_picture"><img  src="/assets/images/clothes (1).png" alt=""></div>
                    <div class="product_picture"><img  src="/assets/images/clothes (1).png" alt=""></div>
                </div>
            </div>

            <div class="vertical_line"></div>

            <div id="product_detail_section">
                <div id="product_detail_title">
                    <div id="product_name">White T-Shirt - Nike</div>
                    <div id="price">
                        <div class="product_discount_price">$15</div>
                        <div class="product_new_price">$12</div>
                    </div>
                </div>
                <div class="product_text">Nike Womens Pink Half Zip Lightweight Hooded Shirt Top Athletic Stretch Size M</div>
                <div id="cart"><button class="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</button></div>
                <div class="product_tag">
                    <div>Male T-shirt</div>
                    <div>Single Color</div>
                </div>
            </div>
        </div>
        
        <div id="comment">
            Comments
        </div>

        <table class="review_section">
            <tr>
                <td class="review">
                    <div class="review_info">
                        <div class="reviewer_profile_pic"><img src="/assets/images/anon-profile-pic.jpg" alt=""></div>
                        <div>
                            <div class="reviewer_name">Anonymous</div>
                            <div class="review_date">Today 4:21pm - 12.06.2020</div>
                        </div>
                    </div>
                    <div class="review_comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima recusandae debitis, 
                        voluptatum alias porro facilis, laboriosam voluptate magnam ad animi excepturi. Incidunt atque odit perferendis ex fugiat soluta asperiores eius?
                </td>
            </tr>
            <tr>
                <td class="review">
                    <div class="review_info">
                        <div class="reviewer_profile_pic"><img src="/assets/images/person-profile-pic.jpg" alt=""></div>
                        <div class="reviewer_name_date">
                            <div class="reviewer_name">Song Selasak</div>
                            <div class="review_date">Today 4:20pm - 24.02.2020</div>
                        </div>
                    </div>
                    <div class="review_comment">Wow! Never have I ever seen a website this well-design. I was able to navigate and search for the products I want to buy with ease. 
                        Were I a CEO of a web company, I would hire this person to work for me immediately. I would definitely recommend this website to my friends 
                        just because of this WORLD CLASS UI design alone. (This is a paid comment, please delete this part when posting the comment.)
                    </div>
                </td>
            </tr>
        </table>

        <div class="comment_box">
            <fieldset>
                <legend>Write your review here</legend>
                <form action="">
                    <textarea class="input_comment" rows="10"></textarea>
                </form>
            </fieldset> 
        </div>

        <div class="summit_button">
            <button class="button" id="send_button"><i class="fa fa-reply" aria-hidden="true"></i> Send</button>
            <button class="button" id="discard_button"><i class="fa fa-times" aria-hidden="true"></i> Discard</button>
        </div>

    </section>
</body>
</html>

